{% extends 'base_supernova.html' %}

{% load static %}

{% block title %}<title>Supernova - Datafile</title>{% endblock %}

{% block content %}

    <div id="center-box">
	<h2 id="h2-spacing"> Inserir Datafiles </h2>
    	<form id='teste' name="teste" method="POST" enctype="multipart/form-data">
		<div id="datafilebox">
		    <div style="float:left; margin-top:-40px;">  
		    {% autoescape off %}
		    {{ divs }}
		    {% endautoescape %}
		    {% csrf_token %}
		    </div>
		    <div style="float:right; margin-right:50px;">
		    <spam>Opções:</spam><br><br><br>
		    
			<select style="width:50px; float:left;" id='assessmentNumber' name='assessmentNumber' >
			<option value=1 > 1ª </option>
			<option value=2 > 2ª </option>
			</select>
	
		    <select style="width:50px;" id='bSheet' name='bSheet' >
			<option value= 0 > A </option>
			<option value = 1> B </option>
		    </select>
		    </div>
		</div>
		<img style="float:left; margin-left:50px;" src="{% static "css/images/slider-arrow-right.png" %}" alt="">
		<div id="datafilebox2">
		    <div id = 'file'>
			<label style="" >Arquivo:</label><br><br><br>
			<input style="" name="arq" type="file"/>
			<input id="button-right" style="margin-top:300px; left:10px;" type="submit" value="Inserir!" class="oval-button"/>
		    </div>
		</div>
			
		    {% if erros %}
			<span style="top:125px; left:150px;"> Erros: </span>
			<div id="erros" style="top:150px; left:50px; height:300px; width:500px; border:0.5px solid #000000;overflow:scroll;">
			    {% for erro in erros %}
				    {{ erro }} </br>
			    {% endfor %}
			</div>
		    {% endif %}
		    {% if resultados %}
			<span style="top:125px; left:700px;"> Notas adicionadas: </span>
			<div id="resultados" style="top:150px; left:625px; height:300px; width:1000px; border:0.5px solid #000000;overflow:scroll;">
			    {% for resultado in resultados %}
				    {{ resultado }} </br>
			    {% endfor %}
			</div>
			<button style="top:100px; left:500px;" type="button" onmousedown="deletar()">Deletar esse arquivos de Notas</button>
			<button style="top:50px; left:400px;" type="button" onmousedown="repetir( {{perUniHab}} )">Mais um do mesmo curriculo</button>
		    {% endif %}
			<div id="delete" style="top:10px; left:980px; border:0.5px solid #000000;"></div>

	    </form>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	    $('#headerFaculties').prepend('<span>Faculdades: </span>')
	    $("#delete").hide();
	    $("#arquivo").hide()
	    function controle(){
		var periodos = document.getElementById('periodo').value
		$.get("/notasRapidas/controle/", {periodos:periodos},function(retorno){
		    alert('volto')
		});
	    }
	    function repetir(per,uni,hab,ordem){
		$("#periodo option[value='"+per+"']").attr('selected','selected');
		funcUni();
		$("#unidade option[value='"+uni+"']").attr('selected','selected');
		funcHab();
		$("#habilitacao option[value='"+hab+"']").attr('selected','selected');
		funcOrdem();
	    }
	    function deletar(){
		var idArquivoDeNotas = ""
		{% if idArquivoDeNotas %}
		    var idArquivoDeNotas = {{idArquivoDeNotas}}
		{% endif %}
		$.get("/notasRapidas/delete/", {idArquivoDeNotas : idArquivoDeNotas},function(retorno){
		    $("#delete").show()
		    if (retorno=="1"){
		        $("#delete").html("arquivo de notas deletado com sucesso")
		    }
		    else{
		        $("#delete").html("erro!")
		    }
		});
	    }
	</script>

{% endblock %}
