{% extends 'base_supernova.html' %}

{% block content %}
<div id="center-box">
	<div id="interface-box">
		<div id="interface-buttons">
			<a id="button-interface" href="professor" class="oval-button"> Professor </a>
		</div>
		<div id="interface-text">
			<p> Abrir listagem de professores </p>
		</div>
	</div>

	<div id="interface-box">
		<div id="interface-buttons">
			<a id="button-interface" href="javascript: submitform()" class="oval-button"> Oferecimento </a>
		</div>
		<div id="interface-text">
			<p> Selecione o período e o código do curso antes de clicar </p>
			<form method="post" name="offer" action="{% url 'interface:offer' %}"> 
				{% csrf_token %}
				{{ form.as_p }}
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	function submitform() {
	 	document.offer.submit()
	}
</script>


{% include "base_jquery.html" %}

{% endblock %}
