{% extends 'base_supernova.html' %}

{% block content %}
<h1> <a href="{% url 'interface:professor' %}"> Professor </a></h1>
<br><br>
<form method="post" name="offer" action="{% url 'interface:offer' %}"> {% csrf_token %}
	<a href="javascript: submitform()"> Offer</a>
	{{ form.as_p }}
</form>
<script type="text/javascript">
	function submitform() {
	 	document.offer.submit()
	}
</script>
<br><br>
<br><br><br><br><br><a href="/logout/">Logout</a><br/>

{% include "base_jquery.html" %}
<script type="text/javascript"> {% include "auto_completes.js" %} </script>
{% endblock %}
