{% extends 'base_supernova.html' %}

{% block content %}
	<input type="button" value="create" onclick="redirect_to_create_offer();" name="criar"/><br><br>
	<table width="1400px" border = 1>
		<tr>
		<td align="center"><strong><a> OFFER </a></strong></td>
		<td align="center"><strong><a> CÓDIGO </a></strong></td>
		<td align="center"><strong><a> NOME </a></strong></td>
		<td align="center"><strong><a> PROFESSOR  </a></strong></td>
		<td align="center"><strong><a> TURMA  </a></strong></td>
		<td align="center"><strong><a> TEÓRICA/PRÁTICA </a></strong></td>
		<td align="center"><strong><a> SCHEDULE </a></strong></td>
		</tr>
		{% for offer in offers %}
			<tr>
			<td align="center"><a href = {% url 'interface:offer_detail' idOffer=offer.idOffer %}>{{ offer.idOffer }}</a></td>
			<td align="center">{{ offer.course.courseCode }}</td>
			<td align="center">{{ offer.course.name }} </td>
			<td align="center">{{ offer.professor.name }}</td>  
			<td align="center">
			{% if offer.classNumber < 10 %}
				T0{{ offer.classNumber }}
			{% else %}
				T{{ offer.classNumber }}
			{% endif %}
			</td align="center">
			<td align="center">
			{% if offer.practical %}
				PRÁTICA
			{% else %}
				TEÓRICA
			{% endif %}
			</td>
			<td align="center">
			{% for schedule in offer.schedules %}			
				{{ schedule }} <br>
			{% endfor %}
			</td>
			</tr>
		{% endfor %}
	</table>
	<script type="text/javascript">
		function redirect_to_create_offer(){
			window.location.href = "{% url 'interface:offer_create' idCourse=course.idCourse idTimePeriod=timePeriod.idTimePeriod %}";
		}
	</script>
{% endblock %}
