{% extends 'base_supernova.html' %}

{% load static %}

{% block title %}<title>Supernova - Detalhes dos Oferecimentos</title>{% endblock %}

{% block content %}
		<div id="offer-box">
		<h1>ID: {{ offer.idOffer }}</h1><br>
		
			<p>Código:
			{{ offer.course.courseCode }} 
		
			<br>
			Nome:
			{{ offer.course.name }} 
		
			<br>
			Professor: 
			{{ offer.professor.name }} 
		
			<br>
			Período: 
			{{ offer.timePeriod }} 
		
			<br>
			Turma: 
					
				{% if offer.classNumber < 10 %}
					T0{{ offer.classNumber }}
				{% else %}
					T{{ offer.classNumber }}
				{% endif %} 
			
		
			<br>
			Teórica/Prática: 
			
				{% if offer.practical %}
					PRATICA
				{% else %}
					TEORICA
				{% endif %} 
			
		
			<br>
			Número de Matrículados: 
			{{ offer.numberOfRegistrations }} 
		
			<br>
			Horários: 
				
				{% for schedule in offer.schedules %}			
					 {{ schedule }}  
				{% endfor %}
			</p>
		</div>
	<input class="oval-button" id="button-left" type="button" value="Editar" onclick="redirect_to_edit_offer();" name="editar"/>
	<input class="oval-button" id="button-right" type="button" value="Deletar" onclick="confirm_delete();" name="deletar"/>
	<script>
	 	function redirect_to_edit_offer() {
			window.location.href = "{% url 'interface:offer_edit' idOffer=offer.idOffer %}";
		}
		function confirm_delete(){
			var r = confirm("Deseja deletar este oferecimento?");
			if (r == true) {
				window.location.href = "{% url 'interface:offer_delete' idOffer=offer.idOffer %}";
			}
		}
	</script>
{% endblock %}
