<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
<title>Interface - Offer Edit</title>
</head>
<body>
	<h1>ID: {{ offer.idOffer }}</h1><br>
	<p>Codigo do Curso: {{ offer.course.courseCode }} </p>
	<p>Periodo: {{ offer.timePeriod }} </p>
	<form action="{% url 'interface:offer_edit' idOffer=offer.idOffer %}" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="apply" name="Aplicar"/>
	</form>
</body>
{% include "base_jquery.html" %}
<script type="text/javascript"> {% include "auto_completes.js" %} </script>
</html>