{% extends 'base_supernova.html' %}

{% load static %}

{% block title %}<title>Supernova - Informações do Professor</title>{% endblock %}

{% block content %}
	<div id="center-edits-detail">
	<h2 id="h2-spacing"> Informações do professor </h2>
		<h1>ID: {{ professor.idProfessor }}</h1><br><br>
		<p>Name: {{ professor.name }}</p>
		<p>Member ID: {{ professor.memberId }}</p>
		<p>Office: {{ professor.office }}</p>
		<p>Email: {{ professor.email }}</p>
		<p>Phone Number: {{ professor.phoneNumber }}</p>
		<p>CellPhone Number: {{ professor.cellphoneNumber }}</p>
		<p>Id Department: {{ professor.idDepartment }}</p>
		<input id="button-left" class="oval-button" type="button" value="Editar" onclick="redirect_to_edit_professor();" name="editar"/>
		<input id="button-right" class="oval-button" type="button" value="Deletar" onclick="confirm_delete();" name="deletar"/>
		<script type="text/javascript">
			function redirect_to_edit_professor(){
				window.location.href = "{% url 'interface:professor_edit' idProfessor=professor.idProfessor %}";
			}
			function confirm_delete(){
				var r = confirm("Deseja deletar este professor?");
				if (r == true) {
					window.location.href = "{% url 'interface:professor_delete' idProfessor=professor.idProfessor %}";
				}
			}
		</script>
	</div>
{% endblock %}
