{% extends 'base_supernova.html' %}

{% load static %}

{% block title %}<title>Supernova - Professores</title>{% endblock %}

{% block content %}
	<a id="button-right" href="create" class="oval-button">Inserir professor</a>

	<ul id="links">
	{% for professor in professors %}
		<li><a href = "{% url 'interface:professor_detail' idProfessor=professor.idProfessor %}">-{{ professor.name }}</a></li>
		<br>
	{% endfor %}
	</ul>
	<script type="text/javascript">
		function redirect_to_create_professor(){
			window.location.href = "{% url 'interface:professor_create' %}";
		}
	</script>
{% endblock %}
