/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image-left
	{
		display: inline;
		width: auto;
	}
	
		.image-left img
		{
			display: inline;
			width: auto;
		}

	ul.style4
	{
	}
	
		ul.style4 li
		{
			display: inline;
		}

/*********************************************************************************/
/* Slider                                                                        */
/*********************************************************************************/

	#slider
	{
	}

		#slider .caption-shadow
		{
			display: none;
		}