{% extends 'base_supernova.html' %}

{% load static %}

{% block content %}
	<div id="offer-box">        
	<h1>Página de registro</h1>
        <br>
        {% if registered %}
        <strong>Obrigado por se registrar!</strong>
        <a href="/index/">Voltar para a homepage.</a><br />
	</div>
        {% else %}
		<p>Venda sua alma!</p><br />
		</div>
		<div id="form-offer">
		<form id="user_form" method="post" action="/register/"
		        enctype="multipart/form-data">

		    {% csrf_token %}

		    <!-- Display each form. The as_p method wraps each element in a paragraph
		         (<p>) element. This ensures each element appears on a new line,
		         making everything look neater. -->
		    {{ user_form.as_p }}

		    <!-- Provide a button to click to submit the form. -->
		    <input id="button-left" class="oval-button" type="submit" name="submit" value="Register" />
		</form>
		</div>
        {% endif %}
{% endblock %}
