<html>
<head>
<title>Encoder</title>
</head>
<body>
    {% autoescape off %}
        {{ header }}
    {% endautoescape %}
<div id = 'initialButtons' style='position:absolute; top:50px; left:50px'>
    <button onMouseDown='newEncoding()'>Nova Codificação</button>
    <button onMouseDown='showPossibleEncodings()'>Editar Codificação</button>
</div>
<div id = 'selectEncoding' style='position:absolute; top:50px; left:50px'>
	<button onMouseDown='deleteEncoding()'>Deletar Codificação</button>
</div>

<div id = 'newEncoding' style='position:absolute; top:50px; left:50px'>
    <textarea id = 'newEncodingName'></textarea>
    <button onMouseDown="createEncoding()">Criar</button>
</div>

<div id = 'encoded'></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    {% include "EncoderCourse.js" %} 
    {% include "EncoderOffer.js" %}
    {% include "EncoderControler.js" %}
</script>

<script type="text/javascript">
    $('#initialButtons').hide()
    $('#newEncoding').hide()
    var controller = new Controller()
    $('#encoded').append(controller.div)
    function start(){
        $('#initialButtons').show()
    }
    function newEncoding(){
        $('#initialButtons').hide()
        $('#newEncoding').show()
    }
	
	function deleteEncoding(){
		var select = document.getElementById("selectEncoding")
		var selectedValue = select.options[select.selectedIndex].value;
		if (selectedValue == 0){
			alert("Escolha uma Codificação")
		}
		else {
			get.open( "GET", 'deleteEncoding/?' + $.param({idOpticalSheet: selectedValue}), false)
		}
	}
	
    function showPossibleEncodings(){
        var idTimePeriod = $('#headerTimePeriod').val()
        $('#initialButtons').hide()
        $('#selectEncoding').show()
        var get = new XMLHttpRequest()
        get.open( "GET", 'showPossibleEncodings/?' + $.param({idTimePeriod: idTimePeriod}), false)
        get.send(null)
        var encodings = JSON.parse(get.responseText)
        var select = new $(document.createElement('select'))
        select.setAttribute("id", "selectEncoding");
        var option = new $(document.createElement('option'))
        option.val(0)
        select.append(option)
        for (var i in encodings){
            var option = new $(document.createElement('option'))
            option.val(encodings[i]['idOpticalSheet'])
            option.text(encodings[i]['encodingName'])
            select.append(option)
        }
        select.change(function(){
            loadEncoding(select.val())
        })
        $('#selectEncoding').append(select)

    }

    function loadEncoding(idOpticalSheet){
        $('#selectEncoding').hide()
        controller.idTimePeriod = $('#headerTimePeriod').val()
        controller.idOpticalSheet = idOpticalSheet
        controller.loadEncoding()
        $('#headerFaculties').show()
        controller.showEncoding()
    }

    function showPossibleOffers(idCycle, term){
        controller.showPossibleOffers(idCycle, term)
    }

    function createEncoding(){
        $('#newEncoding').hide()
        var encodingName = $('#newEncodingName').val()
        var idTimePeriod = $('#headerTimePeriod').val()
        var get = new XMLHttpRequest()
        get.open( "GET", 'createEncoding/?' + $.param({name: encodingName, idTimePeriod: idTimePeriod}), false)
        get.send(null)
        var idOpticalSheet = JSON.parse(get.responseText)
        controller.idOpticalSheet = idOpticalSheet
        controller.idTimePeriod = idTimePeriod
        $('#headerFaculties').show()
        controller.showEncoding()
    }
</script>
</html>
