{% extends 'base.html' %}

{% load static %}



{% block bar %}
	<ul>
	<li><a href='/home/'>Home</a></li>
	<li>
		<a class="arrow">Projeto</a>
		<ul>
			<li><a href='/historico/'>Histórico</a></li>
			<li><a href='/equipe/'>Equipe</a></li>
			<li><a href='/ideia/'>Ideia</a></li>
			<li><a href='/fotos/'>Fotos</a></li>
			<li><a href='/relatoriosgerais/'>Relatórios Gerais</a></li>
			<li><a href='/outrasaplicacoes/'>Outras aplicações</a></li>
		</ul>
	</li>
	<li><a href='/publicacoes/'>Publicações</a></li>
	<li><a href='/parcerias/'>Parcerias</a></li>
	<li><a href='/embreve/'>Em breve</a></li>
	<li class="current_page_item"><a href='/index/'>Intranet</a></li>
</ul>
{% endblock %}

{% block body_block %}
	{% block class %}<body>{% endblock %}
			<div id="main" style="min-height:650px;" class="5grid-layout">
				<div class="row">
					<div class="12u">
						<div id="bar">
								

								<!--- Icons Supernova--->

<a href = "/index/"><h2>Servidor Interno do SuperNova</h2></a>

<p style="word-spacing: 1em;">
<a href = "/opticalSheet/"> OpticalSheet</a>                     
																	 <a href = "/datafile/"> Datafile </a>  
																	 <a href = "/generator/"> Generator </a>  
																	 <a href = "/control/"> Control </a>  
																	 <a href = "/encoder/"> Encoder </a>  
																	 <a href = "/presentation/"> Presentation </a>  
																	<a href = "/interface/"> Interface </a>  
</p>		
																


								<!--- End Icons Supernova--->

						</div>
					</div>

					<div id="content" class="row">
						<div class="12u">

							<!---blank box goes here--->
							{% block content %}{% endblock %}
							<!---end blank box--->

						</div>
					</div>

				</div>
			</div>

			<div id="logout-bar" class="5grid-layout">
				<div>
					<div>
						<div>
							<p style="word-spacing: 2em;"><a href = "/register/"> Register</a><a href = "/logout/"> Logout </a></p>
						</div>
					</div>
				</div>
			</div>


{% endblock %}
