{% extends 'base.html' %}

{% load static %}

{% block body_block %}
	{% block class %}<body class="right-sidebar">{% endblock %}

		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="bar">
								<h2>Equipe</h2>
								<p>O projeto SuperNova é desenvolvido com estudantes, professores e funcionários</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="content" class="8u">
							<article>
								<h2>Equipe de Desenvolvimento</h2>
								<p><a href="#" class="image image-left"><img src="{% static "images/op08.jpg" %}" alt=""></a><p> Coordenador:</p> <p> <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4765707A8">Giuliano Salcas Olguin</a>  </p>
        
      <p> Programadores:  </p>
<p> Bernardo Mascarenhas C. e Silva </p>
<p> Caio Cesar di Gesu Janguas </p>
<p> Fabio Henrique Fabbri </p>
<p> Felipe "PQI" Cruz Neiva Campos </p>
<p> Felipe Barker Linero Esteves </p>
<p> Guilherme Henrique Rojas </p>
<p> Heitor Reis Ribeiro </p>
<p> Henrique Carvalho Silva </p>
<p> Juliano Dawid Barboza </p>
<p> Letícia Li Koga </p>
<p> Lucas Miller da Fonseca Baldini </p>
<p> Lucas Pimenta Pereira Ludewigs </p>
<p> Marcel Henrique G. Sobrinho </p>
<p> Marcelo Abdala Daher </p>
<p> Marcelo Pereira Macedo </p>
<p> Sheila Genesine Dada </p>
<p> Tiago Milagres Miranda </p>
<p> Vitor Gabriel Rente </p>
<p> Wellington Felipe Calligaris </p>
<p> Yuri Gomes de Abreu </p>
							</article>
						</div>
						<div id="sidebar" class="4u">
							<section>
								<h2>Escola Politécnica da USP</h2>
								<p> Diretor da POLI-USP: <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4787269A0">Prof. Dr. José Roberto Cardoso</a> </p>
<p>Vice-Diretor da POLI-USP: <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4792473T4">Prof. Dr. José Roberto Castilho Piqueira</a></p>
<p>Presidente da Comissão de Graduação POLI-USP: Prof. Dr. <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4708094E9">Paul Jean Etienne Jeszensky</a></p>
<p>Vice -Presidente da Comissão de Graduação da POLI-USP: <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4780525T0">Prof. Dr. Francisco Ferreira Cardoso</a></p>

<p>Assistente Técnico Acadêmico: <a href="http://www3.poli.usp.br/pt/a-poli/administracao/assistencia-tecnica-academica.html">Ângela Teresa Buscema</a>
 </p>
							
								<h2>Subcomissão de Avaliação da POLI</h2>
								
								<p>Presidente da Comissão de Graduação POLI-USP: Prof. Dr. <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4708094E9">Paul Jean Etienne Jeszensky</a></p>
								<p>Presidente da Subcomissão de Avaliação da POLI-USP: <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4763815P2">Prof. Dr. André Golçalves Antunha</a></p>
								<p>Presidente da Coordenação do Ciclo Básico da POLI-USP: <a href="https://uspdigital.usp.br/tycho/CurriculoLattesMostrar?codpub=87A0AE746F68">Prof. Dr. Antonio Carlos Seabra</a></p>
								<p>Coordenador do Curso de Engenharia de Sistemas da POLI-USP: <a href="https://sistemas.usp.br/tycho/CurriculoLattesMostrar?codpub=B7A1D32AA7AB">Prof. Dr. Marco Isaías Alayo Chávez</a></p>
								<p>Assistente Técnico Acadêmico: <a href="http://www3.poli.usp.br/pt/a-poli/administracao/assistencia-tecnica-academica.html">Ângela Teresa Buscema</a></p>
								<p> Orientador Pedagógico: <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4765707A8">Giuliano Salcas Olguin</a>  </p>
							</section>
						</div>
					</div>
				</div>
			</div>
		<!-- Main End Wrapper -->

{% endblock %}
