{% extends 'base.html' %}
{% load static %}

{% block title %}<title>SuperNova - Histórico</title>{% endblock %}

{% block class %} <body class="left-sidebar">{% endblock %}	

{% block bar %}
<ul>
	<li><a href='/home/'>Home</a></li>
	<li class="current_page_item">
		<a href="" class="arrow">Projeto</a>
		<ul>
			<li><a href='/historico/'>Histórico</a></li>
			<li><a href='/equipe/'>Equipe</a></li>
			<li><a href='/ideia/'>Ideia</a></li>
			<li><a href='/fotos/'>Fotos</a></li>
			<li><a href='/relatoriosgerais/'>Relatórios Gerais</a></li>
			<li><a href='/outrasaplicacoes/'>Outras aplicações</a></li>
		</ul>
	</li>
	<li><a href='/publicacoes/'>Publicações</a></li>
	<li><a href='/parcerias/'>Parcerias</a></li>
	<li><a href='/embreve/'>Em breve</a></li>
	<li><a href='/no-sidebar/'>English</a></li>
</ul>
{% endblock %}

{% block body_block %}	
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="bar">
								<h2>Histórico</h2>
								<p>Desde 2001, é desenvolvido na POLI o processo de avaliação Consulta Discente sobre o Ensino (CDE) </p>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="sidebar" class="4u">
							<section>
								<h2>Comunicação em primeiro lugar</h2>
								<p>O conceito de avaliação fundamentado no estudante e que busca diálogo na comunidade escolar começou nos cursos quadrimestrais da POLI.  </p>
								<ul class="style3">
									<li class="first">
										<p>Esse modelo é atualmente aplicado também em alguns cursos da Escola de Comunicações e Artes, Faculdade de Direito, Instituto de Física, Instituto de Matemática e Estatística e Instituto de Química (todos da USP). </p>
										
									</li>
									<li>
										<p>Diz o Prof. Pacheco que “foram criadas pelos próprios alunos com incentivo da CCQ, avaliações do aprendizado e de aspectos didáticos das disciplinas de um módulo, realizadas de maneira sistemática e fazendo parte do calendário de reuniões da CCQ, que se mostraram importante instrumento de aprimoramento do curso quadrimestral”.</p>
										
									</li>
								</ul>
							</section>
							<section>
								<h2>Professor Dr. Claudio Pacheco</h2>
								<a href="#" class="image image-left"><img src="{% static "images/pacheco.jpg" %}" alt=""></a>
								
							</section>
						</div>
						
						<div id="content" class="8u mobileUI-main-content">
							<article>
								<h2>Fundamentado na participação do estudante</h2>
								
								
								
								<p> Desde 2001, a POLI-USP faz a avaliação de disciplinas através do levantamento da opinião dos discentes, denominado Consulta Discente sobre o Ensino (CDE).
								A finalidade é promover uma discussão sobre a qualidade dos cursos oferecidos na Escola Politécnica: aulas, material didático e integração entre as disciplinas 
								de um mesmo módulo. Além disso, evidenciar falhas nos conteúdos curriculares.</p>
<p>A CDE nao pretende controlar o andamento das aulas e nem punir ou promover docentes, sejam estes bem ou mal avaliados.</p>
<p><a href="#" class="image image-left"><img src="{% static "images/reuae49.jpg" %}" alt=""></a></p>

<p> Em 2005, visando dar agilidade ao processo e cruzar informações, foi criado o Projeto SuperNova para gerenciar as informações do CDE. </p>



<p> O Professor Dr. Claudio Pacheco, criador deste modelo de avaliação, diz que “estas avaliações são extremamente importantes, pois a dinâmica do aprendizado se altera em função do perfil sempre renovado dos alunos. 
Técnicas de ensinar envelhecem e as avaliações permitem uma base regular para que possam ser atualizadas continuamente, sem os traumas que ocorrem em processos de ensino que não se auto observam”.</p>
	<p>Atualmente, esse modelo de avaliação ocorre em toda Escola Politécnica tendo variações previstas, uma vez que o processo é flexível e agrega características locais. Em média, o índice de participação nominal dos alunos no preenchimento dos questionários óticos é de cerca de 50%, sendo que no primeiro ano algumas turmas chegam a ter 90% de preenchimento. 
	Na USP, esse modelo de avaliação também é utilizado em alguns cursos da Escola de Comunicações e Artes, Faculdade de Direito, Instituto de Física, Instituto de Matemática e Estatística e Instituto de Química.</p> 


								
							</article>
						</div>
						
					</div>
				</div>
			</div>
		<!-- Main End Wrapper -->

{% endblock %}
