<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
<title>Index</title>
</head>
<body>
<p align=”center” ><strong> Welcome to Supernova </strong></p>
<br>
</a>
<a href = '/opticalSheet/'> OpticalSheet </a>
<br>
<a href = '/datafile/'> Datafile </a>
<br>
<a href = '/generator/'> Generator </a>
<br>
<a href = '/control/'> Controle </a>
<br>
<a href = '/encoder/'> Encoder </a>
<br>
<a href = '/presentation/'> Presentation </a>
<br>
<a href = '/interface/'> Interface </a>
<br><br><br><br><br><a href="/logout/">Logout</a><br/>
</body>
