<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
<title>Index</title>
</head>
<body>

</a>
<a href = 'http://200.144.254.129/aeSupernova/opticalSheet/'> OpticalSheet </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/datafile/'> Datafile </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/generator/'> Generator </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/control/'> Controle </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/encoder/'> Encoder </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/presentation/'> Presentation </a>
<br><br><br><br><br><a href="/logout/">Logout</a><br/>
</body>
