<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
<title>Index</title>
</head>
<body>

<a target="_blank" href="http://200.144.254.129/cageInvaders">
 <img src='http://vodres.blob.core.windows.net/moviesdb/atores/49902.jpg' alt='HELLO'>
</a>
<p>HOW YOU DOIN?</br>ARE YOU ALLOWED IN HERE?</p>
<a href = 'http://200.144.254.129/aeSupernova/opticalSheet/'> OpticalSheet </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/datafile/'> Datafile </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/generator/'> Generator </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/control/'> Controle </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/encoder/'> Encoder </a>
<br>
<a href = 'http://200.144.254.129/aeSupernova/presentation/'> Presentation </a>

</body>
