{% extends 'base.html' %}

{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/jquery.slidertron-1.2.js" %}"></script>
{% endblock %}

{% block body_block %}
{% block class %} <body class="homepage">{% endblock %}
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="bar">
								<h2>Bem Vindo ao Projeto Supernova</h2>
								<p>Banco de Dados para Análise da Qualidade</p>
							</div>
							<div id="slider">
								<div class="viewer">
									<div class="reel">
										<div class="slide">
											<a class="link" href="#">Full story ...</a>
											<img src="{% static "images/slide01.jpg" %}" alt="" />
											<div class="caption">
												<h2>A qualidade construída em conjunto</h2>
												<p>Estudantes e professores na elaboração dos instrumentos de avaliação da qualidade do ensino.</p>
												<a href="https://github.com/SuperNovaPOLIUSP/supernova" class="button">SuperNova no GITHUB</a>
											</div>
										</div>
										<div class="slide">
											<a class="link" href="#">Full story ...</a>
											<img src="{% static "images/slide02.jpg" %}" alt="" />
											<div class="caption">
												<h2>Público e gratuito</h2>
												<p>Supernova é um projeto criado na POLI com a colaboração de professores da USP.</p>
												<a href="https://github.com/SuperNovaPOLIUSP/supernova" class="button">SuperNova no GITHUB</a>
											</div>
										</div>
										<div class="slide">
											<a class="link" href="#">Full story ...</a>
											<img src="{% static "images/slide03.jpg" %}" alt="" />
											<div class="caption">
												<h2>Diferentes dados, um mesmo banco</h2>
												<p>Avaliar a qualidade de ensino significa levar em consideração diferentes índices de educação. Reunir essas informações é um desafio. </p>
												<a href="https://github.com/SuperNovaPOLIUSP/supernova" class="button">SuperNova no GITHUB</a>
											</div>
										</div>
									</div>
								</div>
								<div class="captions">
									<div class="captionLine">Lorem sed ipsum tempus dolor?</div>
									<div class="caption-shadow"></div>
								</div>
								<div class="navigation">
									<a href="#" class="previous-button">&lt;</a>
									<a href="#" class="next-button">&gt;</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


{% endblock %}
