{% extends 'base.html' %}

{% load static %}

{% block title %}<title>SuperNova - Equipe</title>{% endblock %}

{% block class %}<body class="right-sidebar">{% endblock %}

{% block bar %}
<ul>
	<li><a href='/home/'>Home</a></li>
	<li class="current_page_item">
		<a href="" class="arrow">Projeto</a>
		<ul>
			<li><a href='/historico/'>Histórico</a></li>
			<li><a href='/equipe/'>Equipe</a></li>
			<li><a href='/ideia/'>Ideia</a></li>
			<li><a href='/fotos/'>Fotos</a></li>
			<li><a href='/relatoriosgerais/'>Relatórios Gerais</a></li>
			<li><a href='/outrasaplicacoes/'>Outras aplicações</a></li>
		</ul>
	</li>
	<li><a href='/publicacoes/'>Publicações</a></li>
	<li><a href='/parcerias/'>Parcerias</a></li>
	<li><a href='/embreve/'>Em breve</a></li>
	<li><a href='/no-sidebar/'>English</a></li>
</ul>
{% endblock %}

{% block body_block %}
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="bar">
								<h2>Outras Aplicações</h2>
								<p>O SuperNova pode ser usado para levantamento e análise de opiniões</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="content" class="8u">
							<article>
								<h2>Medir qualidade</h2>
								<p> Atividades onde ocorre troca de serviços e produtos são passíveis de análise de qualidade. A percepção do cliente pode ser um índice na composição de um significado de qualidade. </p>
								<p> Atualmente, é cada vez mais comum a utilização de ferramentas de levantamento de opiniões de clientes para aprimorar determinado serviço ou produto. </p>
								<p><a href="#" class="image image-left"><img src="{% static "images/outros.jpg" %}" alt=""></a><p>
								<p> O SuperNova, por ser software livre, pode ser adaptado para diferentes necessidades. Um aluno pode ser compreendido como um cliente e um professor pode ser um identificado como um prestador de serviço. </p>
								<p> Os arquivos e documentação estão no site <a href="https://github.com/SuperNovaPOLIUSP/supernova">GITHUB</a></p>.
							</article>
						</div>
						<div id="sidebar" class="4u">
							<article>
							<h2>Software Livre</h2>
								<p> O SuperNova foi desenvolvido em software livre. Com acesso ao código, mudanças no banco de dados e interface podem ser efetuadas. </p>
							    <p> Para saber mais sobre software livre acesse o <a href="http://ccsl.ime.usp.br/">Centro de Competência em Software Livre</a></p>
							</article>
							
						</div>
					</div>
				</div>
			</div>
		<!-- Main End Wrapper -->

{% endblock %}
