{% extends 'base.html' %}

{% load static %}

{% block title %}<title>SuperNova - Publicações</title>{% endblock %}

{% block class %}<body class="left-sidebar">{% endblock %}

{% block bar %}
<ul>
	<li><a href='/home/'>Home</a></li>
	<li>
		<a href="" class="arrow">Projeto</a>
		<ul>
			<li><a href='/historico/'>Histórico</a></li>
			<li><a href='/equipe/'>Equipe</a></li>
			<li><a href='/ideia/'>Ideia</a></li>
			<li><a href='/fotos/'>Fotos</a></li>
			<li><a href='/relatoriosgerais/'>Relatórios Gerais</a></li>
			<li><a href='/outrasaplicacoes/'>Outras aplicações</a></li>
		</ul>
	</li>
	<li class="current_page_item"><a href='/publicacoes/'>Publicações</a></li>
	<li><a href='/parcerias/'>Parcerias</a></li>
	<li><a href='/embreve/'>Em breve</a></li>
	<li><a href='/no-sidebar/'>English</a></li>
</ul>
{% endblock %}

{% block body_block %}
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div id="main" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="bar">
								<h2>Publicações</h2>
								<p>Participações em Congressos e Livros</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="sidebar" class="4u">
							<section>
								<h2>A divulgação do conhecimento</h2>
								<p>Uma das metas do SuperNova é a divulgação de seus resultados para a comunidade científica  </p>
								
									
										<p>Os trabalhos apresentados tratam do conceito da avaliação, da tecnologia usada no processo de avaliação e das consequências decorrentes da análise dados e diálogos entre professores e estudantes.   </p>
										
									
									
										<p> A oportunidade de poder trocar informações com pesquisadores da área foi fundamental para o desenvolvimento das atividades de avaliação e das ferramentas do SuperNova. </p>
										
									
								
							</section>
							<section>
								<h2>Publicações próprias</h2>
								<p>No intuito de divulgar os resultados da avaliação e práticas pedagógicas bem sucedidas na opinião dos discentes, a Subcomissão de Avaliação da POLI-USP decidiu elaborar um informativo contendo dados e análises.  </p>
								<ul class="style1">
									<li><a href="{% static "images/JornalAvaliacao01_V2.pdf" %}">1º Edição do Informativo da Subcomissão de Avaliação POLI-USP.</a></li> 									
								</ul>
							</section>
						</div>
						
						<div id="content" class="8u mobileUI-main-content">
							<article>
								
								<h2> Capítulos de livros publicados</h2>
    <p> 
B.M. Trigo ; OLGUIN, G. S. ; MATAI, P.H.L.S. . The Use of Applets in an Engineering Chemistry Course: Advantages and New Ideas.. In: Donna Russell; A.K. Haghi. (Org.). Web-Based Engineering Education: Critical Design and Effective Tools.. Pennsylvania: IGI Global, 2010 </p>


 <p>OLGUIN, G. S. ; SVAB, H. ; RODRIGUES, A. C. P. ; PONTES, C.C.C. . Quality Evaluation Of The Enginerring Education in Brazil: The Method Applied at the Polytechnic School of the University of São Paulo. In: Rajarshi Roy. (Org.). Engineering Education: Perspectives, Issues and Concerns. : Shipra Publications, 2009 </p>

 <h2> Textos em jornais de notícias/revistas</h2>

<p>OLGUIN, G. S. . Representantes de Classe e Avaliação de Ensino: Uma nova forma de dialogar. Ímpeto, EPUSP/ PET Mecânica, p. 7 - 7, 10 nov. 2006.</p>

<h2> Trabalhos completos publicados em anais de congressos</h2>

<p><a href="#" class="image image-left"><img src="{% static "images/congresso.jpg" %}" alt=""></a><p>


<p>MELO, V. A. A. ; LOPES, G. M. ; OLGUIN, G. S. ; MATAI, P.H.L.S. . Information Technology in the computer engineering curriculum: an analysis among undergraduate institutions. In: International Conference on Engineering Education 2012, 2012, Turku. </p>


<p>HERESCU, M. ; PEREIRA, E. L. ; OLGUIN, G. S. ; MATAI, P.H.L.S. . Initiatives to promote Science & Technology careers and their impact on IT's sector and on developing countries. In: International Conference on Engineering Education 2012, 2012, Turku. </p>


<p>DADA, S. G. ; OLGUIN, G. S. . The importance of the Academic Practice During Undergraduate Education. In: Canada International Conference on Education, 2012, Ontario. </p>


<p>CUGNASCA, P. S. ; CAMARGO JUNIOR, J. B. ; OLGUIN, G. S. . ANÁLISE DO CURSO DE ENGENHARIA DE COMPUTAÇÃO DA ESCOLA POLITÉCNICA DA USP SEGUNDO SEUS EGRESSOS. In: Congresso Brasileiro de Educação em Engenharia, 2012, Belém. </p>


<p>FERNANDES, A. V. ; PEIXOTO, B. H. L. N. ; SOUZA, E. M. ; PAULA, F. J. O. ; SANTOS FILHO, D. J. ; OLGUIN, G. S. . Mechatronics Engineering at Polytechnic School of University of São Paulo: a Survey Analysis of Egress Alumni. In: 13 th International Workshop on Research and Education in Mechatronics, 2012, Paris. </p>


<p>SAKATA, K. ; OLGUIN, G. S. . Robotics: a Case Study of Contextualization in Engineering Education. In: SEFI Annual Conference - WEE2011, 2011, Lisboa. </p>


<p>GONÇALVES, D.C.S ; OLGUIN, G. S. . Comparison of courses from the University of São Paulo and university of Waterloo: teaching generalist or specialist. In: International Society for Engineering Education, 2010, Tma, 2010, Tmava. </p>


<p>BALDINI, L. M. F. ; FEREIRÓS, A ; OLGUIN, G. S. . Academic globalization in United States of America and Brazil: a curriculum analysis between Electrical Engineering courses. In: Academic Globalization, 2009, Flórida. </p>


<p>PEREIRA, R. ; OLGUIN, G. S. . The Functions of Internships During an Engineering Degree Programme. In: International Society for Engineering Education, 2009, Graz. </p>


<p>TAKAHASHI. E. T. S. ; PELLEGRINI, S. ; DUARTE, A. V. ; OLGUIN, G. S. . The Use of Experiments in Physics for Engineering Education. In: International Conference on Engineering Education, 2009, Seoul. </p>


<p>SVAB, H. ; OLGUIN, G. S. . The National Objectives and Students´ Choices: a Comparison Between Brazil and Cuba. In: International Conference on Engineering Education 2008, 2008, Budapeste - Pecs. </p>


<p>G.M. Scrignoli ; OLGUIN, G. S. . The Contribution of the Human Sciences to the Engineering Course: the Technical Knowledge Linked to the Wisdom of Values and Principles. In: International Conference on Engineering Education, 2008, Budapeste - Pecs. </p>


<p>B.M. Trigo ; OLGUIN, G. S. ; P.H.L.S. Matai . The Use of Applets in an Engineering Chemistry Course: a Case Study of the Polytechnic School of the University of Săo Paulo. In: International Conference on Engineering Education, 2008, Budapeste - Pecs. </p>


<p>F.C.N. Campos ; OLGUIN, G. S. . The Use of Auxiliary Resources on Introductory Computing Courses for Engineering. In: International Conference on Engineering Education 2008, 2008, Budapeste - Pecs. </p>


<p>PELLEGRINI, S. ; DUARTE, A. V. ; TAKAHASHI. E. T. S. ; OLGUIN, G. S. ; P.H.L.S. Matai . O uso de experimentos em disciplinas de física para engenharia. In: SIMPÓSIO INTERNACIONAL DE INICIAÇÃO CIENTÍFICA DA UNIVERSIDADE DE SÃO PAULO, 2008, São Paulo. 16 SIICUSP 2008 : anais. </p>


<p>PEREIRA, R. ; OLGUIN, G. S. ; P.H.L.S. Matai . O estágio no curso cooperativo de Engenharia Química: um estudo. In: SIMPÓSIO INTERNACIONAL DE INICIAÇÃO CIENTÍFICA DA UNIVERSIDADE DE SÃO PAULO, 2008, São Paulo. </p>


<p>G.M. Scrignoli ; COLOMBO, E. R. ; OLGUIN, G. S. . As Ciências Humanas no Curso de Engenharia. In: 16º SIICUSP Simpósio Internacional de Iniciação Científica da USP, 2008, São Paulo. </p>


<p>OLGUIN, G. S. ; SVAB, H. ; RODRIGUES, A. C. P. ; GASPAR, H. M. ; AIELLO, C.D. ; ANTUNHA, A.G. . Evaluation of Engineering Education: a Case Study. In: Internacional Conference on Engineering Education - ICEE, 2007, Coimbra. </p>


<p>SVAB, H. ; OLGUIN, G. S. ; GASPAR, H. M. ; AIELLO, C.D. ; ANTUNHA, A.G. . Reflections on the "Basic Cycle" of engineering studies at the Polytechnic School. In: Internacional Conference on Engineering Education - ICEE, 2007, Coimbra. </p>


<p>PELLEGRINI, S. ; OLGUIN, G. S. . USO DE EXPERIMENTOS NAS AULAS TEÓRICAS DE FÍSICA EM UM CURSO DE ENGENHARIA: UM ESTUDO PRELIMINAR. In: Encontro Nacional de Pesquisa em Educação em Ciências, 2007, Santa Catarina. </p>
    
    
    
    
							</article>
						</div>
						
					</div>
				</div>
			</div>
		<!-- Main End Wrapper -->
{% endblock %}
